@media only screen and (max-width:1180px){
    .content-container{
        margin: 0 2.1rem;
    }

    .unified-grid{
        margin-top: 3rem;
    }
    .designed::before{
    
        top: -150px;
        height: 130%;
    
    }
    .global{
        overflow-x: hidden;
        margin: 0;
        margin-top: 0;
        padding: 0 1rem;
    }

    .swipe-sessions{
        width: 472px;
        height: 400px;
    }
    .swipe-logo-long{
        top: 100px;
        left: 100px;
        max-width:300px ;
    }
    
}


@media only screen and (max-width:1145px){
    .hero-phone{
        width:315px;
        height: 550px;
    }

    .left h1{
        font-size: 80px;
        line-height: 6rem;
    }

}



@media only screen and (max-width:1045px){
    .api-code, .server{
        width: 370px;
    }
    .global-graphic{
        left: 500px;
    }

    .swipe-sessions{
        width: 400px;
        height: 300px;
    }

    .swipe-logo-long{
        top: 60px;
        left: 70px;
        max-width:250px;
    }

    .hero{
        width: 60px;
        bottom: 110px;
    }
    .male{
        left: 90px;
    }

}


@media only screen and (max-width:950px){
    .api-code, .server{
        width: 270px;
    }

    .global-graphic{
        left: 400px;
    }
}


@media only screen and (max-width:850px){
    .left h1{
        font-size: 70px;
        line-height: 6rem;
    }

    .grid-item{
        width: 150px;
        height: 50px;
    }

    .partners-grid-container{
        gap: 15px;
        margin-top: 5rem;
    }

    .api-code, .server{
        display: none;
    }

    .global-graphic{
        left: 300px;
    }
}







@media only screen and (max-width:770px){
    .navbar-list{
        display: none;
    }
    .sign-in{
        display: none;
    }
    .hamburger-btn{
        display: flex;
        background:rgba(0,0,0,0.2);
        width: 50px;
        height: 30px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 19px;
        cursor: pointer;
        padding-top: 2px;
    }

    .hamburger-btn .line{
        width: 40%;
        margin-bottom: 3px;
        height: 2px;
        background: white;
    }

    .hero-phone{
        width:258px;
        height: 450px;
    }
    .left h1{
        font-size: 58px;
        line-height: 4rem;
    }

    .flex-container{
        display: grid;
        grid-template:1fr 1fr/1fr 1fr;
    }
    .why-swipe{
        padding-top: 10rem;
    }

    .global-graphic{
        left: 250px;
        
    }
    .virtual-flex{
        flex-direction: column;
    }

    .virtual-left{
        width: 100%;
        margin-bottom: 1rem;
    }

    .swipe-sessions{
        width: 572px;
        height: 446px;
    }

    .hero{
        width: 80px;
        bottom: 150px;
    }
    .male{
        left: 110px;
    }
    

    .swipe-logo-long{
        top: 100px;
        left: 100px;
        max-width:338px ;
    }

    .right-virtual{
        display: flex;
    }
}






@media only screen and (max-width:650px){
    .hero-phone{
        display: none;
    }

    .partners-grid-container{
        grid-template:repeat(4,1fr)/repeat(2,1fr);
    }

    .grid-item{
        width: 200px;
        height: 60px;
    }

    .unified{
        flex-direction: column;
    }
    .left-div{
        max-width: 100%;
    }
    .right{
        margin-top: 1rem;
    }

    .unified-grid{
        margin-top: 3rem;
    }
    .global-graphic{
        left: 10px;
        
    }
    .swipe-sessions{
        width: 500px;
        height: 400px;
    }

    .right-virtual{
        flex-direction: column;
    }

    .right-virtual .flex-items{
        margin-bottom: 2rem;
    }

    .footer{
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


@media only screen and (max-width:600px){
    .swipe .flex-container{
        display: flex;
        flex-direction: column;
    }
}




@media only screen and (max-width:550px){
    .engineers{
        margin-top: 5rem;
        gap: 0px;
        grid-template-areas: 
        "eng-div eng-div "
        "eng-div eng-div"
        "tools tools "
        "integrations integrations";
    }

    .small-box h4{
        font-size: 16px;
    }

    .small-box{
        margin: 2rem 0;
    }

    .small-box p{
        width: 262px;
    }

    .api-code ,.server{
        display: none;
    }
    .designed::before{
        top: 0;
        height: 100%;
    
    }

    .global .flex-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .global .flex-container .flex-items{
        width: 100%;
    }
    .global-p{
        width: 100%;
    }

    .swipe-sessions{
        width: 420px;
        height: 350px;
    }
    .swipe-logo-long{
        top: 100px;
        left: 100px;
        max-width:300px ;
    }

    .swipe-logo-long{
        top: 70px;
        left: 70px;
        max-width:300px ;
    }
    .hero{
        width: 70px;
        bottom: 120px;
    }
    .male{
        left: 100px;
    }
}




@media only screen and (max-width:450px){
    .grid-item{
        width: 150px;
        height: 50px;
    }
    
    .designed::before{
    
        height: 100%;
    
    }

    .swipe-sessions{
        width: 390px;
        height: 320px;
    }

    .swipe-logo-long{
        top: 70px;
        left: 70px;
        max-width:250px ;
    }
    .payments-cont .left h1{
        font-size: 50px;
    }
    .hero{
        width: 60px;
        bottom: 120px;
    }
}


@media only screen and (max-width:420px){
    .swipe-sessions{
        width: 350px;
        height: 250px;
    }
    .swipe-logo-long{
        top: 40px;
        left: 90px;
        max-width:150px ;
    }

    .swipe-sessions h6{
        font-size: 14px;
        font-weight: 500;
    }

    .swipe-sessions p{
        font-size: 12px;
    }
    .hero{
        width: 40px;
        bottom: 110px;
    }
    .male{
        left: 80px;
    }

}