@media only screen and (max-width:1180px){
    .content-container{
        margin: 0 2.1rem;
    }
}


@media only screen and (max-width:1145px){
    .hero-phone{
        width:315px;
        height: 550px;
    }

    .left h1{
        font-size: 80px;
        line-height: 6rem;
    }
}


@media only screen and (max-width:850px){
    .left h1{
        font-size: 70px;
        line-height: 6rem;
    }

    .grid-item{
        width: 150px;
        height: 50px;
    }

    .partners-grid-container{
        gap: 15px;
        margin-top: 5rem;
    }
}







@media only screen and (max-width:770px){
    .navbar-list{
        display: none;
    }
    .sign-in{
        display: none;
    }
    .hamburger-btn{
        display: flex;
        background:rgba(0,0,0,0.2);
        width: 50px;
        height: 30px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 19px;
        cursor: pointer;
        padding-top: 2px;
    }

    .hamburger-btn .line{
        width: 40%;
        margin-bottom: 3px;
        height: 2px;
        background: white;
    }

    .hero-phone{
        width:258px;
        height: 450px;
    }
    .left h1{
        font-size: 58px;
        line-height: 4rem;
    }
}






@media only screen and (max-width:650px){
    .hero-phone{
        display: none;
    }

    .partners-grid-container{
        grid-template:repeat(4,1fr)/repeat(2,1fr);
        gap: 0px;
    }

    .grid-item{
        width: 200px;
        height: 60px;
        margin-bottom: 2rem;
    }
}