:root{
    --bg-light:#F7F9FC;
    --dark-blue-bg:#0A2540;
    --purple-color-v1:#6962F7;
    --light-blue:#00D4FF;
    --purple:#7000FF;
    --hover-collor:#6d7a88;
    --button-font-size: 16px;
    --button-weight:700;
    --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    --primary-gradient: linear-gradient(
        101.33deg,
        #08209a 0.76%,
        #6563ff 33.33%,
        #36c5f0 76.92%,
        #83e2ff 96.96%
      );
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    flex-direction: column;
    font-family: "Anek Telugu", sans-serif;
    overflow-x: hidden;
}



section{
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 5rem;
}

.header::before{
    content: '';
    position: absolute;
    top: -70%;
    left: -200px;
    z-index: -1;
    background: linear-gradient(45deg, #ef008f,#6ec3f4,#7038ff,#ffba27);
    width: 200%;
    height: 100%;
    transform: rotate(-10deg);
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
}

.content-container{
    max-width: 1145px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

.navbar-list{
    margin-top: 0.4rem;
    display: flex;
    list-style: none;
}

.navbar-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1.2rem;
}

.navbar-list li a:hover{
    text-decoration: underline;
}


.navbar-btn-default{
    width: 90px;
    height: 35px;
    border-radius: 19px;
    border: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    background: rgba(0,0,0,0.2);
}

.welcome{
    padding-top: 2rem;
}



.hamburger-btn{
    display: none;
}



aside{
    position: fixed;
    width: 60vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding-left: 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    background: var(--dark-blue-bg);
    transition: 0.2s;
}


.hide{
    transform: translateX(100%);
    transition: 0.2s ease-in-out;
}


.dark-blue-btn-default{
    width: 136px;
    height: 40px;
    background: var(--dark-blue-bg);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 19px;
    border: none;
    cursor: pointer;
}


.white-blue-btn-default{
    width: 136px;
    height: 40px;
    background: none;
    color:var(--dark-blue-bg);
    font-size: 1.2rem;
    font-weight: 900;
    text-align: left;
    border: none;
    cursor: pointer;
}

.aside-btn:hover{
    background: var(--hover-collor);
}

.aside-list{
    list-style: none;
    margin-bottom: 4rem;
}

.aside-items{
    margin-bottom: 1rem;
}

.aside-items a{
    color: white;
    text-decoration: none;
    font-size: 2rem;

}

.aside-items a:hover{
    text-decoration: underline;
}


.hide-aside{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 2rem 1rem 1.5rem 0rem;
    cursor: pointer;
}

.hide-aside img{
    width: 40px;
    height: 40px;
}


.top{
    position: absolute;
    transform: rotate(45deg);
}

.bot{
    position: absolute;
    transform: rotate(-45deg);
}


/* ----------------------payments-cont------------ */

.hero-phone{
    width:360px;
    height: 628px;
}

.balanced{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    transition: 0.2s;
    margin-right: 1rem;
}

.balanced img{
    margin-left: 1px;
    width: 24px;
    height: 24px;
}


.balanced:hover .arrow {
    transform: translateX(5px);
    transition: 0.2s;
}

.payments-cont{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.left{
    max-width:600px ;
    display: flex;
    flex-direction: column;
}

.btns{
    display: flex;
}

.purple-btn{
    color: var(--purple);
    background: none;
}



.left h1{
    font-size: 94px;
    line-height: 8rem;
}
.left p{
    font-size: 16px;
    width: 80%;
    margin: 1rem 0;
}




/* ------------partners----------- */


.grid-item{
    width: 200px;
    height: 60px;
}


.partners-grid-container{
    display: grid;
    grid-template:repeat(2,1fr)/repeat(4,1fr);
    gap: 20px;
    margin-top: 5.5rem;
}



/* -------------unified platform------------ */
.unified-platform{
    background: var(--bg-light);
    padding-top: 5rem;
    z-index: 1;
}


.unified{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uni-div{
    max-width: 50%;
}

.left-div{
    margin-right: 2rem;
}

.left-div h5{
    font-size: 17px;
    color: var(--purple);
    font-weight: 400;
    margin-bottom: 1rem;

}

.left-div h1{
    font-size: 40px;
    margin-bottom: 1rem;

}


.left-div p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.unified p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.unified a{
    text-decoration: none;
    color: var(--purple);
}


.unified a:hover{
    color: black;
}

.purple{
    background: var(--purple);
}

.purple:hover{
    background: var(--dark-blue-bg);
}


.right{
    margin-top: 7rem;
}


.unified-grid{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    "card invoice invoice"
    "phone  invoice invoice"
    "phone  dash dash"
    "phone  dash dash";
}

.card{
    max-width: 100%;
    grid-area: card;
}

.phone{
    max-width: 100%;
    grid-area: phone;
}

.invoice{
    max-width: 100%;
    grid-area: invoice;
    box-shadow: var(--standard-box-shadow);
    border-radius: 19px;
}

.dash{
    max-width: 100%;
    grid-area: dash;
    box-shadow: var(--standard-box-shadow);
    border-radius: 19px;
}


/* ---------------------designed for enginers----------------------- */

.designed-for-engineers {
    position: relative;
    padding-top: 10rem;
    background: var(--bg-light);
    z-index: 1;
    height: 950px;
    overflow-x: visible;
}

/* .designed-for-engineers::after{
    content: '';
    position: absolute;
    top: -9%;
    left: 0;
    width: 100vw;
    height: 120%;
    background-color: var(--dark-blue-bg);
    z-index: -1;
    transform: skewY(-10deg);
} */






.eng-grid{
    gap: 1rem;
    display: grid;
    grid-template-areas: 
    "eng-div eng-div api-code api-code"
    "eng-div eng-div api-code api-code"
    "tools integrations server server"
    "tools integrations server server";
}

.eng-div h5{
    color: var(--light-blue);
}

.eng-div h1{
    color: white;
}

.eng-div p{
    color: white;
}



.light-blue{
    color: var(--dark-blue-bg);
    background: var(--light-blue);
}

.eng-grid img{
    border-radius: 19px;
    max-width: 470px;
}


.eng-div{
    max-width: 70%;
    grid-area: eng-div;
}

.tools{
    grid-area: tools;
}

.integrations{
    grid-area: integrations;
}

.api-code{
    max-width: 100%;
    grid-area: api-code;
}

.server{
    max-width: 100%;
    grid-area: server;
}


.small-div{
    max-width: 80%;
}

.small-div img{
    width: 50px;
    border-radius: 0px;
    margin-bottom: 1rem;
}

.small-div h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.small-div p{
    margin-bottom: 1rem;
    color: white;
}

.light-blue-btn{
    margin-top: 1rem;
    color: var(--light-blue);
    width: 200px;
    margin-right: rem;
}


.light-blue-btn img{
    margin-top: 12px;
}

.right-btn{
    transform: translateX(-20px);
}



@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}